<div class="dropdown-container">
    <div class="header" (click)="onChangeDropdownState()">
        <img [src]="property.listImages[0]">
        <span>{{property.description}}</span>
        <ion-icon name="arrow-down" [ngClass]="{'arrow-reverse': isOpen }"></ion-icon>
    </div>

    <div class="info" *ngIf="isOpen">
        <span>Rua {{property.street}}</span>
        <span>Bairro {{property.township}}</span>
        <span>Cidade: {{property.city}}</span>
        <span>Quartos: {{property.rooms}}</span>
        <span>Aluguel: {{property.pricePerUser}}</span>
    </div>

</div>

