.dropdown-container {
  margin: 1rem 0;
  padding: 0 1rem;

  .header {
    display: flex;
    align-items: center;
    background-color: gainsboro;
    position: relative;

    img {
      width: 5rem;
      border-radius: 17px;
      margin-right: 1rem;
      padding: 0.5rem;
    }

    span {
      text-align: center;
      font-size: 0.8rem;
      margin-right: 2rem;
    }

    ion-icon{
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      right: 3px;
    }
  }

  .info {

  }
}
