<app-logo></app-logo>

<div class="user-container"ngSwipe
     (swipeMove)="onSwipeMove($event)"
     (swipeEnd)="onSwipeEnd($event)">
    <div class="search">
        <ion-item>
            <ion-label>Faculdade</ion-label>
            <ion-select value="facens" (ionChange)="updateUniversity()" [(ngModel)]="searchUniversity">
                <ion-select-option value="facens">FACENS</ion-select-option>
                <ion-select-option value="unip">UNIP</ion-select-option>
                <ion-select-option value="usp">USP</ion-select-option>
            </ion-select>
        </ion-item>
    </div>
    <div class="posts">
        <ng-container *ngFor="let item of listProperty">
            <app-post-home [property]="item"></app-post-home>
        </ng-container>
    </div>
</div>
