ion-alert{

  .alert-button-group {
    color: white !important;
    font-size: 20px !important;
  }
}

.user-container{
  display: flex;
  flex-direction: column;
  flex: 1;

  .search{

  }

  .posts{
    overflow-y: scroll;
    max-height: 132vw;
  }


}
