<app-logo></app-logo>

<div class="user-container" ngSwipe
     (swipeMove)="onSwipeMove($event)"
     (swipeEnd)="onSwipeEnd($event)">
    <div class="search">
        <ion-item>
            <ion-label>Cidade</ion-label>
            <ion-select value="facens" (ionChange)="updateUniversity()" [(ngModel)]="searchUniversity">
                <ng-container *ngFor="let item of listCities">
                    <ion-select-option [value]="item">{{item}}</ion-select-option>
                </ng-container>
            </ion-select>
        </ion-item>
    </div>
    <div class="posts">
        <ng-container *ngFor="let item of listProperty">
            <app-post-home [property]="item"></app-post-home>
        </ng-container>
    </div>
    <app-message></app-message>
</div>
