ion-alert{

  .alert-button-group {
    color: white !important;
    font-size: 20px !important;
  }
}

.user-container{
  display: flex;
  flex-direction: column;
  flex: 1;

  .search{

  }

  .posts{
    overflow-y: scroll;
    max-height: 132vw;
  }

  .message-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background: bisque;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

    ion-icon {
      width: 2rem;
      height: 2rem;
    }

    .notification {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #ff7d16;
      border-radius: 50%;
      width: 1.1rem;
      height: 1.1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 0.8rem;
        color: white;
      }
    }
  }

}
