<div class="property-container">
    <div class="title">
        <span style="margin-bottom: 5px;">CADASTRO</span>
    </div>

    <div class="info-inputs">
        <ion-textarea placeholder="Descrição" [(ngModel)]="property.description"></ion-textarea>
        <ion-input placeholder="Rua" [(ngModel)]="property.street"></ion-input>
        <ion-input placeholder="Bairro" [(ngModel)]="property.township"></ion-input>
        <ion-input placeholder="Cidade" [(ngModel)]="property.city"></ion-input>
        <ion-input placeholder="Preço por quarto" type="number" [(ngModel)]="+property.pricePerUser"></ion-input>

        <ion-radio-group [(ngModel)]="property.rooms">
            <ion-list-header>
                <ion-label>Quantos quartos?</ion-label>
            </ion-list-header>
          <div class="radio-container">
            <div class="radio-item" >
                <ion-radio slot="start" color="success" value="1"></ion-radio>
                <ion-label>1</ion-label>
            </div>
            <div class="radio-item">
              <ion-radio slot="start" color="success" value="2"></ion-radio>
              <ion-label>2</ion-label>
            </div>
            <div class="radio-item">
              <ion-radio slot="start" color="success" value="3"></ion-radio>
              <ion-label>3</ion-label>
            </div>
          </div>
        </ion-radio-group>

        <div class="photo">
            <span>Tire uma foto</span>
            <ion-icon name="camera"></ion-icon>
        </div>

    </div>
    <div class="buttons">
        <ion-button (click)="onCancel()" color="primary">Cancelar</ion-button>
        <ion-button (click)="onRegisterProperty()" [disabled]="cannotAdvance()">Registrar</ion-button>
    </div>

</div>
