.container {
    width: 100%;
    height: 4rem;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        font-size: 1.5rem;
        font-weight: bold;
    }
}