.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .button-container {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;

    ion-button {
      margin-right: 0.5rem;
    }
  }

  img {
    filter: invert(60%);
    margin-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
