<app-logo></app-logo>

<div class="login-container" style="flex: 1">
    <ion-list lines="full" class="ion-margin ion-padding centerList">
        <div style="text-align: center;">Uma imagem aki</div>
        <h1 class="ion-no-margin ion-no-padding">Fazer Login</h1>

        <ion-item>
            <ion-label position="floating">Email:</ion-label>
            <ion-input required type="text" [(ngModel)]="login.email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Senha:</ion-label>
            <ion-input required type="password" [(ngModel)]="login.password"></ion-input>
        </ion-item>

        <div class="button-container">
            <ion-button (click)="onClickToRegister()">REGISTRAR</ion-button>
            <ion-button (click)="onClickToLogin()">LOGAR</ion-button>
        </div>
    </ion-list>
</div>
