<app-logo></app-logo>

<div class="owner-container" ngSwipe
     (swipeMove)="onSwipeMove($event)"
     (swipeEnd)="onSwipeEnd($event)">
    <div class="register" (click)="onRegisterNewPlace()">
        <img src="./assets/imgs/owner-register.png" alt="Imagem para cadastrar um imóvel">
        <ion-icon name="add-circle"></ion-icon>
        <h2>Cadastre sua Casa ou Apartamento</h2>
    </div>
    <div>
        <ng-container *ngFor="let item of listPropertyUser">
            <app-dropdown-home [property]="item"></app-dropdown-home>
        </ng-container>
    </div>
    <div class="message-icon">
        <ion-icon name="mail-outline"></ion-icon>
        <div class="notification">
            <span>0</span>
        </div>
    </div>
</div>
