.container {
  .title {
    font-size: 1rem;
    text-align: center;
    margin: 0.7rem 0.7rem;
    color: green;
    font-weight: bold;
  }

  .conversation{
    margin: 1rem 0.5rem;
    padding: 0.3rem;
    height: 5rem;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(17,79,32,1) 0%, rgba(13,130,11,0.7903536414565826) 35%, rgba(156,238,183,1) 100%);

    .text{
      font-size: 0.8rem;
      font-weight: bold;
      margin: 0.5rem;
    }
  }

  .send{
    display: flex;
    margin: 0 0.5rem;
    align-items: center;
    justify-content: space-around;

  }
}
