<div class="container">
    <h3 class="title">Sua Caixa de Mensagens</h3>
    <div style="overflow-y: scroll">
        <ng-container *ngFor="let item of listTransaction; let i = index">
            <div class="conversation">
                <p class="text">{{item.message}}</p>
            </div>
          <div class="send">
            <input [(ngModel)]="answer[i]">
            <ion-icon name="send" (click)="sendMessage(item, answer[i])"></ion-icon>
          </div>
        </ng-container>
    </div>
</div>
